.homePage {
    text-align: center;
}

h1 {
    color: #333;
    font-size: 2rem;
}


.heroContainer {
    position: relative;
    height: 60vh;
    /* Adjust height as needed */
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroText {
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 1rem;
}

.heroText h1 {
    font-size: 3rem;
    /* Adjust the size of the heading */
    margin-bottom: 0.5rem;
}

.heroText p {
    font-size: 1.2rem;
}

.runningUpdate {
    overflow: hidden;
    white-space: nowrap;
    background-color: #fffae6;
    color: #ff9800;
    padding: 0.2rem 0;
    border-bottom: 1px solid #ffd54f;
    font-weight: bold;
    font-size: 1rem;
}

.runningUpdate p {
    display: inline-block;
    animation: scroll 10s linear infinite;
    /* Add animation */
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
        /* Start from the right */
    }

    100% {
        transform: translateX(-100%);
        /* End at the left */
    }
}