/* HotelList.module.css */
.hotelList {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
    padding: 1rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  

.noResults {
    text-align: center;
    color: #666;
    font-size: 1.2rem;
    margin-top: 2rem;
}